.top-nav{
    margin-left: 150px;
    border-radius: 5px;
    height: 40px;
    position: fixed !important;
    background: #fff;
    font-size: 17px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

@media only screen and (max-width:600px) {
    .hidden{
        display: block;
    }
    nav{
        width:100% !important;
    }

    main{
        display:flex;
        flex-direction:column !important;
    }
}