.grid{
    display:grid;
    grid-template-columns: auto auto;
    gap:.5rem 1rem;
}
.dashboard-content{
    display:grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-auto-rows: minmax(150px, auto);
    gap:0.5rem 1rem;
    justify-content: center;
    align-content: center;
}
.card-body a{
    text-decoration: none;
    color: var(--link);
}

.card .card-header{
    background-color: #fff;
}

@media screen and (max-width: 768px){
    .dashboard-content{
        gap: 1rem;
    }
    
}