.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin-bottom: 20px;
    width: 150px;
}

.sidebar ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding:10px 20px;
    color: #fff;
    text-decoration: none;
}
.sidebar ul li a .bi{
    font-size: 20px;
}
 .sidebar ul li a:hover{
    background-color: #eceef7;
    color: #111a45;

}

.sidebar ul li a.active{
    background-color: #eceef7;
    color:#111a45 !important;
   
}