.container{
    display:flex;
    justify-content: center;
}
.align-center{
    text-align: center;
}
.title{
    font-family: 'Catamaran', sans-serif;
    font-size: 30px !important;
    padding: 5px;
    border-bottom: 1px solid #712cf8;
}

