.wrapper .customBtn{
    width: auto;
    font-size: 13px;
    padding: 0 .5rem;
    float: right;
}

@media only screen and (max-width:600px) {
    .card{
        width:100%;
        margin: 0 auto;
    }
    .form-control{
        width:100% !important;
    }
}