.wrapper .customBtn{
    width: auto;
    font-size: 13px;
    padding: 0 .5rem;
    float: right;
}

.grid-class{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));
}
