:root{
    --primary : #111245;
    --link: #2D84F7;
    --secondary: #c4bed0;
    --danger: #ff5402;
    --dangerBg: #fff8f4;
    --success:#18864b;
}
html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-size:15px;
    background:#edeef7 !important;
}


.text-color-primary{
    color: var(--primary) !important;
}

td > a{
    text-decoration: none;
}

.wrapper{
    height: calc(100vh - 40px);
}

.button{
    background:var(--primary) !important;
    border-color: var(--primary) !important;
    color: #fff;
    text-transform: uppercase;
}

button{
    border: none;
    background: none;
    color: var(--link);
}

.icon{
    font-size: 25px;
    color: var(--primary);
}
.icon:hover{
    cursor: pointer;
    opacity: 0.9;
}
.card{
    margin-top:20px;
    padding:10px;
    width:500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-flex{
    display: flex;
    flex-direction: row;
}

tr.complete > td {
    background: #d1e7dd;
}

tr.awaiting-feedback > td{
    background: #fff3cd;
}

tr.unassigned > td{
    background: #f9d7da;
}

.disabled{
    pointer-events: none;
    /* opacity: 0.5; */
    background-color: #e9ecef !important;
}
  
@keyframes loadingBox {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.0);
    }
}

@media only screen and (max-width:600px){
    .app{
        padding: 0 40px;
    }
}